<!--<div class="tk-container">-->
    <!--<div class="tk-row">-->
        <!--<div class="tk-col-md-12" >-->
            <!--<h1>Angular 1.5 seed project</h1>-->

            <!--<p>Hello, {{ $home.user }}</p>-->

            <!--<ul>-->
                <!--<li ng-repeat="item in $home.items track by $index">{{ item.name }}</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->