<md-sidenav layout="column" class="md-whiteframe-z2" md-component-id='leftSidenav' md-is-locked-open="$mdMedia('gt-sm')" layout-fill>
    <md-list flex>
        <md-subheader class="md-primary">3 line item (with hover)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in $sidebar.todos" ng-click="$sidebar.onSelectItem({ item: item })">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ item.who }}</h3>
                <h4>{{ item.what }}</h4>
                <p>{{ item.notes }}</p>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
</md-sidenav>