<md-toolbar layout="row">
    <md-button  class="menu" ng-click="$navbar.openLeftMenu()" hide-gt-sm>
        <i class="material-icons">menu</i>
        <md-icon md-svg-src="avatar:svg-1" aria-label=""></md-icon>
    </md-button>
    <h1  flex="90" class="text-center" style="text-align: center">Starter App</h1>

</md-toolbar>

<div flex layout="row" layout-fill>
    <sidebar flex="30" on-select-item="$navbar.popo(item)"></sidebar>
    <trends  flex="70" selected-item="$navbar.selectedId"></trends>
</div>



<!--<div class="demo-content">-->
    <!--<div flex="30" layout="row" class="column" layout-padding>-->
        <!--<div class="one">First item in row</div>-->
        <!--<div class="two">Second item in row</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<div layout="column" class="row" layout-padding>-->
        <!--<div class="one">First item in column</div>-->
        <!--<div class="two">Second item in column</div>-->
    <!--</div>-->
<!--</div>-->


<!--<md-content layout-padding>-->
    <!--<md-grid-list  md-cols-gt-md="8" md-cols-md="6" md-cols="3"-->
                   <!--md-row-height-gt-md="1:1" md-row-height="4:3"-->
                   <!--md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">-->
            <!--<md-grid-tile ng-repeat="tile in $navbar.colorTiles" ng-style="{'background': tile.color}"-->
            <!--md-colspan-gt-sm="{{tile.colspan}}"-->
            <!--md-rowspan-gt-sm="{{tile.rowspan}}">-->

            <!--</md-grid-tile>-->
    <!--</md-grid-list>-->
<!--</md-content>-->




<!--<md-content class="md-padding">-->
    <!--<md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">-->
        <!--<md-tab id="tab1">-->
            <!--<md-tab-label>Item One</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab2">-->
            <!--<md-tab-label>{{data.secondLabel}}</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab3">-->
            <!--<md-tab-label>Item Three</md-tab-label>-->
        <!--</md-tab>-->
    <!--</md-tabs>-->
<!--</md-content>-->


<!--<ng-switch on="data.selectedIndex" class="tabpanel-container">-->
    <!--<div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()">-->
        <!--View for Item #1<br/> data.selectedIndex = 0-->
    <!--</div>-->
    <!--<div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()">-->
        <!--View for {{data.secondLabel}}<br/> data.selectedIndex = 1-->
    <!--</div>-->
    <!--<div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()">-->
        <!--View for Item #3<br/> data.selectedIndex = 2-->
    <!--</div>-->
<!--</ng-switch>-->
