navbar {
  .demo-content {
    min-height: 128px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    .column, .row {
      .one {
        background-color: #009688;
      }
      .two {
        background-color: #3949ab;
      }
      .three {
        background-color: rgb(16, 108, 200);
      }
    }
  }
}


  .gridListdemoBasicUsage md-grid-list {

  }
  .gridListdemoBasicUsage .sky-blue{
    background: #80d8ff;
  }

  .gridListdemoBasicUsage .gray {
    background: #f5f5f5; }

  .gridListdemoBasicUsage .green {
    background: #b9f6ca; }

  .gridListdemoBasicUsage .yellow {
    background: #ffff8d; }

  .gridListdemoBasicUsage .blue {
    background: #84ffff; }

  .gridListdemoBasicUsage .purple {
    background: #b388ff; }

  .gridListdemoBasicUsage .red {
    background: #ff8a80; }

  .gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms; }






//navbar{
//
//  display: block;
//  background: #ffffff;
//      [class^="tk-col-xs-"]{
//        height: 70px;
//        line-height: 70px;
//
//        &:first-child{
//          border: none;
//        }
//      }
//  .open-panel {
//    background: transparent;
//    border: none;
//
//    &:hover{
//      background: transparent;
//    }
//  }
//
//  .logo-wrapper{
//    display: inline-block;
//    margin-left: 2px;
//    span:before{
//    width: 90px;
//    }
//  }
//
//  .new-audience{
//    color: #494949;
//    text-align: center;
//  }
//
//  .sidebar{
//    position: fixed;
//    z-index: 999;
//    width: 300px;
//    height: 100%;
//    top: 70px;
//    left: -300px;
//    padding-top: 18px;
//    background: #ffffff;
//    transition: left .3s ease-in-out;
//    &.open-sidebar{
//      top: 70px;
//      left: 0;
//    }
//    .logo-wrapper{
//      margin-left: 24px;
//    }
//    .close-btn{
//      margin-right: 12px;
//      cursor: pointer;
//    }
//  }
//
//  .navbar-search{
//    padding: 0;
//  }
//}